@font-face {
  font-family: "gil-400";
  src: url("../fonts/Gilroy-Regular.ttf") format("truetype");
  src: url("../fonts/Gilroy-Regular.woff") format("woff2"),
    url("../fonts/Gilroy-Regular.woff2") format("woff");
  font-weight: 400;
}

@font-face {
  font-family: "gil-500";
  src: url("../fonts/Gilroy-Medium.ttf") format("truetype");
  src: url("../fonts/Gilroy-Medium.woff") format("woff2"),
    url("../fonts/Gilroy-Medium.woff2") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "gil-700";
  src: url("../fonts/Gilroy-Bold.ttf") format("truetype");
  src: url("../fonts/Gilroy-Bold.woff") format("woff2"),
    url("../fonts/Gilroy-Bold.woff2") format("woff");
  font-weight: 700;
}
